
##################
# OSX Files
.DS_Store

#################
#  Grunt files
bower_components
node_modules
.tmp
##################
# Eclipse Files
.project
.classpath
.settings
target
manifest.yml
src/main/webapp/dist
transaction-logs
### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
#*.iml
.idea

## Directory-based project format:
#.idea/
.tmp/
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries


# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml
